{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="content" style="padding:1rem;">
    <div class="row justify-center">
      <div class="col">
        <h3 style="font-weight: bold; color: inherit;">
          Newly generated Users.
        </h3>
      </div>
      <a href="{% url 'generate_id' %}" class="btn btn-primary" style="margin:1rem;">
        Generate Ids
      </a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Unique Id</th>
            <th scope="col">IP address</th>
          </tr>
        </thead>
        <tbody>
          {% for auser in allusers %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ auser.ruser }}</td>
              <td>{{ auser.random_id }}</td>
              <td>{{ auser.ipaddress }}</td>
            </tr>
          {% empty %}
            <div>
              <p>No students</p>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
