{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content" style="padding:3rem;">
  {% if user.is_authenticated %}
    <div style="margin: 1rem;">
      <p>Welcome, {{ user.username }}.</p>
      <p>Subject: {{ teachers.subject }}</p>
    </div>
    <div style="margin: 1rem;">
      <a class="btn btn-primary" href="{% url 'generate_id' %}">Generate Student Id</a>
    </div>
    <div style="margin: 1rem;">
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    </div>
  {% else %}
    <div>
      <p>Welcome, new user. Please log in.</p>
    </div>
  {% endif %}

</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
